css
body








{background: hwb(0 0% 100%)}








.fcc-btn {
 background-color: hwb(120 16% 24%);
 color: white;
 padding: 15px 25px;
}
p
















{text-align: center;
color: hsl(180, 100%, 97%);}




h1{
  background-color: brown;
}








img{
  border-image: fill;
}




 



 